<!-- <h1 id="is-logged-in">Welcome Component - {{ getName() }}</h1>

<button (click)="toggleLogin()">Login</button>

<input *ngIf="isLogin()" (input)="updateName($event)" /> -->
<!-- <input type="text" [(ngModel)]="carColor" />
<p>Cars :</p>
<ul *ngFor="let car of cars | color : carColor">
  <li>
    <p>Color: {{ car.color }}</p>
    <p>Name: {{ car.name | uppercase }}</p>
    <p>Color: {{ car.purcgased | date : "MMM/dd/yy" | uppercase }}</p>
  </li>
</ul>

<button (click)="addCar()">Add Car</button> -->

<h1>Welcome Component</h1>
<h4>Welcome Person: {{ getPerson().name }}</h4>
