<h1>Hero Form</h1>

<form appPasswordMatch #heroForm="ngForm" (ngSubmit)="submit(heroForm)">
  <label>Name</label>
  <input
    appForbiddenValidator
    type="text"
    required
    #name="ngModel"
    [(ngModel)]="model.name"
    name="name"
  />
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <p *ngIf="name.errors?.['required']">Name is required</p>
    <p *ngIf="name.errors?.['isForbidden']">This name is not accepted</p>
  </div>
  <br />
  <label>Age</label>
  <input type="text" [(ngModel)]="model.age" required #age="ngModel" />
  <div>
    <p *ngIf="age.errors?.['required']">Age is required</p>
  </div>
  <br />
  <label>Power</label>
  <select [(ngModel)]="model.power" required name="power" #power="ngModel">
    <option *ngFor="let power of powers" [value]="power">{{ power }}</option>
  </select>
  <div>
    <p *ngIf="power.errors?.['required']">Power is required</p>
  </div>
  <br />
  <br />

  <div>
    <label>Password</label>
    <input type="text" [(ngModel)]="model.password" name="password" />
  </div>

  <div>
    <label>Cofirm Password</label>
    <input type="text" [(ngModel)]="model.confirm" name="confirm" />
  </div>
  <p *ngIf="heroForm.errors?.['nomatch']">Password not matching</p>
  <button type="submit">Submit</button>
</form>
